#CodeEditorArea{
    width: 85%;
    height: 300px;
}

body{
    height: 700px;
    width: 98%;
    margin: 0px auto;
}


#headerCenter{
    width: 30%;
    height: 100%;
    float: left;
}
#headerEmp2{
    width: 35%;
    height: inherit;
    float: right;
}

#header-menu{
    float: left;
    margin-left: 40%;
}

#headerEmp1{
    width: 35%;
    height: 100%;
    float: left;
}